<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <% include ../static/partials/messages.ejs %>

    <main class="container">
      <a class="btn btn-outline-primary btn-sm" href='/topics/<%= post.topicId %>'>&#x21E6;</a>
        <div style="display: flex; align-items:center;">
          <% if(currentUser) { %>
            <% include ../votes/voting.ejs %>
          <% } %>
          <h1>
            <%= post.title %>
            <% if(currentUser) { %>
              <% include ../favorites/favoriting.ejs %>
            <% } %>
            <% if(currentUser) { %>
              <% if (currentUser.id === post.userId || currentUser.role === 'admin') { %>
                <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#editCollapse" role="button" aria-expanded="false" aria-controls="editCollapse" id="editCollapseButton">&#x21E3;</a>
              <% } %>
            <% } %>
          </h1>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="editCollapse">
              <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit " class="btn btn-outline-warning">Edit</a>
              <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %> /destroy" method="post">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>

        <hr>
        <p>
          <%= post.body %>
        </p>
        <section id="comment-form">
          <% if (currentUser) { %>
            <% include ../comments/new.ejs %>
          <% } %>
        </section>
        <section id="comment-list">
          <% if (post.comments) { %>
            <% post.comments.forEach(comment => { %>
              <%- include('../comments/show.ejs', {comment}) %>
            <% }) %>
          <% } %>
        </section>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
